<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >
                <i class="fa fa-bars"></i><span>&nbsp;&nbsp;Welcome to AudaExplore GTD Call Center</span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

            </ul>
            <div class="navbar-form navbar-right">
                <a class="btn btn-default" href="#/logout" ng-click="logout()">
                    <i class="fa fa-sign-out"></i>
                    &nbsp;&nbsp;Logout</a>
            </div>
        </div>
    </div>
</div>